*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hide {
    display: none;
}

:root {
    font-size: 62.5%;
    }

    body {
        background: linear-gradient(287.56deg, rgba(187, 0, 255, 1) 0%, rgba(25, 3, 97, 1) 100%);
        font-size: 1.6rem;
        display: grid;
        place-items: center;
        height: 100vb;
    
    }

    main {
        background: white;
        width: 428px;
        height: 424px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) 25%;
        margin-top: -12rem;
        text-align: center;
    }

    

    body {
        background: linear-gradient(45deg, #190361, #bb00ff);
            animation: gradient 10s ease infinite;
        background-size: 200% 200%;
      }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


    h1{
        font-family: "Montserrat", sans-serif;
        color: #34355B;
        font-size: 30px;



    }

    p{ 
        font-family: "DM Sans", sans-serif;
        color: rgba(52, 53, 91, 1);
        padding-top: 7px;



    }

    .text{
        padding-top: 50px;




    }

    .button1 {
        background-color: white;
        border:none!important;
        background-color: white!important;
        padding: 17px;
        


    }
    
    /* screen 2  */

    .screen2 {
        background: white;
        width: 428px;
        height: 460px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) 25%;
        margin-top: -20rem;
        text-align: center;


    }



    .sortedehoje {
        font-family: "Dancing Script", cursive;
        font-size: 24px;
        padding: 0; /* Removido o padding */
        background-color: transparent; /* Definido como transparent */
        display: inline-block;
        margin: 25px;
        transform: none; /* Removido o transform */
        background-color: #E4EDF1;

    }
    
    


    .button1:hover {
        animation: vibrate-1 .3s linear infinite both;
    }

    @keyframes vibrate-1 {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translate(-2px, 2px);
        }
        40% {
            transform: translate(-2px, -2px);
        }
        60% {
            transform: translate(2px, 2px);
        }
        80% {
            transform: translate(2px, -2px);
        }
        100% {
            transform: translate(2px);
        }
    }
    .sortedehoje{animation:slide-fwd-top .45s cubic-bezier(.25,.46,.45,.94) both}

    @keyframes slide-fwd-top
    
    {0%{transform:translateZ(0) translateY(150px)
    
    }100%{transform:translateZ(160px) translateY(10px)}}


    .biscoitoabrindo {
        display: inline;
        padding:15px;
        margin: 25px;
       
    }


    .button2 {
        color: #FFFFFF ;
        width: 174px;
        height: 52px;
        font-weight: bold;
        border:none;
        background-color: #FF9500;
        padding: 10px;
        font-family: "DM Sans", sans-serif;
        border-radius: 4px;
        margin-top: 10%;
        

    }